<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <%- message%>
    <form action="/doAddElem" method="post" class="doAddElem">
    	<input type="text" class="form-control" name="inputElemName" id="inputElemName" placeholder="Element Name"><br>
    	<input type="text" class="form-control" name="inputDecription" id="inputDescription" placeholder="Description"><br>
    	<input type="text" class="form-control" name="inputRate" id="inputRate" placeholder="Rate"><br>
    	<input type="text" class="form-control" name="inputCatName" id="inputCatName" placeholder="Category Name"><br>
    	<input type="text" class="form-control" name="inputReviews" id="inputReviews" placeholder="Reviews"><br>
    	<button type="submit" class="btn btn-primary">Add</button>
    </form>
  </body>
</html>