
<!DOCTYPE html>
<html>
<head>
<style>
.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #b0e0e6;
}
</style>
</head>
<body>

<div class="center">
  <p>yelp</p>
  <form action="/showCategory" method="get" class="showCategory">
  	<button type="submit" class="btn btn-primary">Show Category</button>
  </form>
  
</div>



</body>
</html>
